{% assign img-path  = "/assets/img/" | append: page.folder %}
{% assign photo_list = include.images %}

{% for img in photo_list %}
  {% assign next_index = forloop.index0 | plus: 1 %}
  {% assign next_photo = photo_list[next_index] %}
  {% assign remainder = forloop.index | modulo: 2 %}
  <!--<p>Index: {{ forloop.index }} - remainder {{ remainder }}</p>-->
  {% if remainder == 0 %}
    {% continue %}
  {% endif %}

  <div class="gallery-container">
    <a href="{{ img-path | append: img.img }}"
      class="glightbox2"
      data-glightbox="title: {{ img.cap }}"
      data-zoomable="false" >
      {% if img.thump %}
      <img src="{{ img-path | append: img.thump  }}" alt="image thump" />
      {% else %}
      <img src="{{ img-path | append: img.img  }}" alt="image 1" />
      {% endif %}
      <p class="caption">{{ img.cap }}</p>
    </a>
    {% if next_photo %}
    <a href="{{ img-path | append: next_photo.img }}"
      class="glightbox2"
      data-glightbox="title: {{ next_photo.cap }}"
      data-zoomable="false" >
      {% if next_photo.thump %}
      <img src="{{ img-path | append: next_photo.thump }}" alt="image thump 2" />
      {% else %}
      <img src="{{ img-path | append: next_photo.img }}" alt="image 2" />
      {% endif %}
      <p class="caption">{{ next_photo.cap }}</p>
    </a>
    {% endif %}
  </div>
{% endfor %}
