@use "sass:color";
// Colours
$bodyColour: #46412A;
$headingColour: color.adjust($bodyColour, $lightness: -5%);
$linkColour: #5B5BFF;
$hoverColour: color.adjust($linkColour, $lightness: -10%);
$captionColour: color.adjust($headingColour, $lightness: 40%);
$white: #fff;

$backgroundColour: #ffefc8;
$codeBackgroundColour: color.adjust($backgroundColour, $lightness: -5%);
