@use "sass:meta";

.grid {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(8rem, auto);
  grid-gap: 1rem
}

.hidden { display: none; }

.text-center {
  text-align: center;
}

.h-italic {
  font-family: "Lora";
  font-style: italic;
}

@supports (display:grid) {
  .card {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

.card:nth-child(1n) {
  background: #96d0c3;
}
.card:nth-child(2n) {
  background: #ef7d4d;
}
.card:nth-child(3n) {
  background: #fbcfb9;
}
.card:nth-child(4n+3) {
  background: #fac14e;
}
.card:nth-child(5n+4) {
  background: #cbc0d3;
}
.card:nth-child(6n+5) {
  background: #A696D0;
}
.card:nth-child(7n+7) {
  background: #96D0A6;
}

/* Style every 3rd, 5th, and 7th element differently to create an organic, chaotic feel */
// .card:nth-child(3n+1) { background-color: #96d0c3; }
// .card:nth-child(5n+3) { background-color: #ef7d4d; }
// .card:nth-child(7n+2) { background-color: #A696D0; }

.card {
  min-height: 8rem;
  align-items: left;
  justify-content: left;
  position: relative;
  flex: 1 1 10rem;
  //min-height: 100%;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  /* box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03); */
  box-shadow: 0 0.2rem 0.5rem #415a77;
  //display: flex;
  //flex-direction: column;
  text-decoration: none;
  //position: relative;
  //top: 0;
  // color: inherit;
  color: #2e3440;
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  &:hover {
    transform: scale(1.05);
  }
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card a {
  text-decoration: none;
}

.card p {
  font-size: 0.9rem;
}

.card h2 {
  font-size: 1.3rem;
  color: #2e3440;
  margin: 0;
}

.card time {
  text-transform: uppercase;
}

.card .meta {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.meta a:link,
.meta a:visited,
.meta a:active {
  color: var(--link-color);
}
.meta a:hover {
  color: var(--link-color-hover);
}

.page-find {
  // background: white;
  background-color: var(--secondary-body-bg);
  padding: 0rem 2rem;
  padding-bottom: 2rem;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
}

table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;

    tr {
        border-bottom: 1px solid black;
    }

    td {
        padding: 0.5rem;
    }
}

img {
    width: 100%;
    margin: 0.5rem 0;
}

nav {
    ul {
        list-style: none !important;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
        }
    }
    a, a:visited {
        margin: 0.5rem;
        text-decoration: none;
      text-transform: uppercase;
      color: inherit;
      font-size: 0.9rem;
      font-weight: 500;
      letter-spacing: .05em;
      //opacity: 0.6;
    }
}

.tag-current {
  background-color: #ef7d4d;
  color: blue !important;
  /* color: #ef7d4d !important; */
}

footer {
  margin: 2rem 0;
  text-align: center;
  small a {
    text-decoration: none;
  }
}
