---
layout: compress
---

<!DOCTYPE html>

<html lang="en-us">

  {% include head.html %}

  <body>
    {% include progress-bar.html %}
    <div class="container">
      <header class="masthead">
        <h2 class="masthead-title">
          <a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active{% endif %}">{{ site.title }}</a>

          <nav class="nav">
            {% for nav in site.data.menu%}
            <small>
              <a href="{{ nav.url }}"
                class="{% if page.url == nav.url %}active{% endif %}">
                  {{ nav.name }}</a>
            </small>
            {% endfor %}
          </nav>
        </h2>
      </header>

      {{ content }}

      {% include toggle-theme.html %}
      {% include footer.html %}
      {% include click-to-top.html %}
    </div>

  </body>

</html>
